* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #003F85, #050b14);
  color: white;
}

/* LOGO */
.header {
  position: absolute;
  top: -30px;
  left: 20px;
}

.logo {
  width: 200px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}

/* ================= BOTONES TIERS ================= */
.tier-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 90px;
}

.tier-buttons button {
  padding: 14px 34px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  color: #050220;

  background: linear-gradient(135deg, #ffffff, #007CFF);
  box-shadow:
    0 0 15px rgba(79, 163, 255, 0.4),
    0 0 25px rgba(255, 215, 0, 0.2);

  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease,
    filter 0.25s ease;
}

.tier-buttons button:hover {
  transform: scale(1.12);
  filter: brightness(1.1);
  box-shadow:
    0 0 20px rgba(79, 163, 255, 0.6),
    0 0 35px rgba(255, 215, 0, 0.4);
}

.tier-buttons button:active {
  transform: scale(1.05);
}

/* ================= CONTENEDOR ================= */
.ranking-container {
  width: 520px;
  margin: 50px auto;
}

/* ================= ITEMS ================= */
.rank-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 16px 20px;
  margin-bottom: 12px;
  border-radius: 16px;
  background: linear-gradient(90deg, #0f542d, #0b1626);
  transition: transform 0.2s ease;
}

.rank-item:hover {
  transform: scale(1.02);
}

/* ================= TOP COLORES ================= */
.top1 {
  background: linear-gradient(90deg, #085CA6, #1a2230);
}

.top2 {
  background: linear-gradient(90deg, #540F0F, #1a2230);
}

.top3 {
  background: linear-gradient(90deg, #B4C400, #1a2230);
}

/* ================= TEXTO ================= */
.rank-number {
  width: 34px;
  font-weight: bold;
  font-size: 18px;
}

.rank-player {
  display: flex;
  align-items: center;
  gap: 14px;
  flex: 1;
}

.player-skin {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  image-rendering: pixelated;
}

.top1 .player-skin {
  width: 46px;
  height: 46px;
}

.rank-name {
  font-size: 16px;
  font-weight: 600;
}

.rank-points {
  font-size: 16px;
  font-weight: bold;
  color: #6fb1ff;
}

.gold {
  color: #ffd700;
  font-size: 18px;
}

.silver {
  color: #cfd8dc;
}

.bronze {
  color: #cd7f32;
}

/* ================= TIERS ================= */
.tier {
  display: none;
}

.tier.activo {
  display: block;
}